<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>




<table style="width:100%">
  <tr>
    <th>name</th>
    <th>localPort</th>
    <th>remoteIp</th>
    <th>remotePort</th>
    <th>удаление</th>
  </tr>
  <tr>
    <th>тестовый тунель</th>
    <th>1200</th>
    <th>192.168.56.205</th>
    <th>3000</th>
    <th><button>удалить</button></th>
  </tr>
  <tr *ngFor="let pipe of pipes">
    <th>{{ pipe.name }}</th>
    <th>{{ pipe.localPort }}</th>
    <th>{{ pipe.remoteIp }}</th>
    <th>{{ pipe.remotePort }}</th>
    <th><button type="button" (click)="loadTask(client.id)">удалить</button></th>
  </tr>
  <tr>
    <th><button>Добавить новый тунель</button></th>
  </tr>

</table>

